services:
  app:
    build:
      context: ..
      dockerfile: PerformDocker/AppDockerfile
    expose:
      - "3000"
    volumes:
      - ../app/:/home/node/app
    tty: true
    restart: always

  nginx:
    build: 
      context: ../nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - app
    restart: always
